* {
    margin: 0;
    padding: 0;
}

:root {
    --dark: #1d7543;
    --light: #99ed98;
    --pale: #daf8d6;
    --pitch: #053623;
    --primary: #5cc465;
}

nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    height: 6.7vh;
    background-color: var(--dark);
    position: fixed;
    bottom: 0;
    width: 100vw
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    width: 100vw;
    margin-right: 12vw;
}

#logo {
    height: 4vh;
}

nav ul i {
    width: 10vh;
    color: #90EE90;
}