* {
    margin: 0;
    padding: 0;
}

:root {
    --dark: #1d7543;
    --light: #99ed98;
    --pale: #daf8d6;
    --pitch: #053623;
    --primary: #5cc465;
}

nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    height: 6.7vh;
    background-color: var(--dark);
    position: fixed;
    bottom: 0;
    width: 100vw
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    width: 100vw;
    margin-right: 12vw;
}

#logo {
    height: 4vh;
}

nav ul i {
    width: 10vh;
    color: #90EE90;
}

#acctInTop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30vh;
    padding: 1rem;
    background-color: var(--light);
}

.blockColumn {
    display: block;
    padding: 20px;
    height: 20vh;
}

.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}

#pfp {
    height: 60px;
    width: 60px;
    border: solid;
    border: var(--dark);
    border-width: 4px;
    padding-bottom: 20px;
}

#acctBio {
    background-color: var(--pale);
    height: 11vh;
    padding: 0.6rem;
    border: solid;
    border-color: var(--dark);
    border-radius: 1rem;
    border-width: 4px;
}

.acctChangeButton {
    width: 35vw;
    height: 10vw;
    border: solid;
    border-width: 3px;
    border-radius: 15px;
    border-color: var(--dark);
    background-color: var(--primary);
    color: var(--pitch);
}

#acctNav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 6.7vh;
    align-items: stretch;
    border-top: solid;
    border-bottom: solid;
    border-color: var(--dark);
    background-color: var(--light);
    color: var(--pitch);
    align-items: center;
    position: sticky;
    top: 0;
}

#acctNav i {
    flex-grow: 1;
    align-items: center;
    vertical-align: middle;
    padding: 3.34vh;
}

.myEventTracker {
    display: none;
    height: fit-content;
    min-height: 63.3vh;
    background-color: var(--primary);
    padding: 0.7rem;
}

.eventList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.event {
    padding: 20px;
    background-color: var(--pale);
    margin: 20px;
    color: var(--pitch);
    border: solid;
    border-radius: 15px;
    border-width: 4px;
    border-color: var(--dark);
}