* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Segoe UI",sans-serif;
}
body {
    background-color: #99ed98;
}

:root {
    --dark: #1d7543;
    --light: #99ed98;
    --pale: #eefaed;
    --pitch: #053623;
    --primary: #90EE90;
}

nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    height: 9vh;
    background-color: var(--dark);
    position: fixed;
    bottom: 0;
    width: 100vw;
    border-radius: 20px 20px 0 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
    width: 100vw;
}

nav ul i {
    width: 100%;
    color: #90EE90;
    padding: 4.3vh 8vh 4.3vh 6vh;
    background-color: var(--dark);
}

#event_1 {
    padding: 20px;
    background-color: var(--pale);
    margin: 20px;
    color: var(--pitch);
    border: solid;
    border-radius: 15px;
    border-width: 4px;
    border-color: var(--dark);
}
#event_2 {
    padding: 20px;
    background-color: var(--pale);
    margin: 20px;
    color: var(--pitch);
    border: solid;
    border-radius: 15px;
    border-width: 4px;
    border-color: var(--dark);
}
#event_3 {
    padding: 20px;
    background-color: var(--pale);
    margin: 20px;
    color: var(--pitch);
    border: solid;
    border-radius: 15px;
    border-width: 4px;
    border-color: var(--dark);
}
#event_4 {
    padding: 20px;
    background-color: var(--pale);
    margin: 20px;
    color: var(--pitch);
    border: solid;
    border-radius: 15px;
    border-width: 4px;
    border-color: var(--dark);
}
#pas_event_1 {
    padding: 20px;
    background-color: var(--pale);
    margin: 20px;
    color: var(--pitch);
    border: solid;
    border-radius: 15px;
    border-width: 4px;
    border-color: var(--dark);
}
#pas_event_2 {
    padding: 20px;
    background-color: var(--pale);
    margin: 20px;
    color: var(--pitch);
    border: solid;
    border-radius: 15px;
    border-width: 4px;
    border-color: var(--dark);
}
#pas {
    size: 150%;
    display: flex;
    justify-content: center;
}
#cur {
    size: 150%;
    display: flex;
    justify-content: center;
    margin: 20px 0px 0px;
}
