* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #99ed98;
}

:root {
    --dark: #1d7543;
    --light: #99ed98;
    --pale: #eefaed;
    --pitch: #053623;
    --primary: #90EE90;
}

nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    height: 6.7vh;
    background-color: var(--dark);
    position: absolute;
    bottom: 0;
    width: 100vw;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    width: 100vw;

}

#logo {
    height: 5vh;
}

nav ul i {
    width: 6vh;
    color: #90EE90;

}
#event_1 {
    padding: 10px;
}
#event_2 {
    padding: 10px;
}
#event_3 {
    padding: 10px;
}
#event_4 {
    padding: 10px;
}
#pas_event_1 {
    padding: 10px;
}
#pas_event_2 {
    padding: 10px;
}
