*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Segoe UI",sans-serif;
}

body{
    background-color:white;
}

:root{
    --Background-Color:#8fb733;
    --Secondary-Background-Color:#DBFF76;
    --Box-Color:#FFFFE3;
    --Primary-Text-Color:#37352F;
    --Secondary-Text-Color:#7A7666;

    /* delete later */
    --dark:#1d7543;
    --light:#99ed98;
    --pale:#daf8d6;
    --pitch:#053623;
    --primary:#5cc465;
}

nav{
    display:flex;
    flex-direction:row;
    list-style:none;
    height:9vh;
    background-color:var(--dark);
    position:fixed;
    bottom:0;
    width:100vw;
    border-radius:20px 20px 0 0;
}

nav ul{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    list-style:none;
    align-items:center;
    width:100vw;
}

nav ul i{
    width:100%;
    color:#90EE90;
    padding:4.3vh 8vh 4.3vh 6vh;
    background-color:var(--dark);
}

#acctInTop{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height:30vh;
    margin: 1rem 1rem;
}

.blockColumn{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    padding:1rem;
    height:30vh;
}

.pfpRow,
#bioanschool {
    border:3px solid var(--dark);
    border-radius:25px;
}

.pfpRow{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-content:center;
    margin:1rem;
    padding:1.5rem;
    background:white;
    border:3px solid var(--dark);
    border-radius:20px;
}

#username{
    color:var(--Primary-Text-Color);
    font-size:7vw;
    display:flex;
    align-items:center;
}

#pfp{
    height:60px;
    width:60px;
    border:none;
}

#bioanschool{
    margin:1rem;
    padding:1.5rem;
    background:white;
    border:3px solid var(--dark);
    border-radius:20px;
}

.buttonRow{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-content:center;
}

.accChangeButton{
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 2em 1em;
    padding:1.2rem;
    width:50%;
    border:none;
    border-radius:15px;
    background:var(--primary);
    color:var(--pitch);
    font-weight:700;
    transition:.2s;
}

.accChangeButton button{
    border:none;
    color:var(--pitch);
    background:none;
    margin-left:0.5rem;
    font-size:18px;
}

#sch{
    width:50%;
}

#grad{
    width:50%;
}

#schag{
    display:flex;
    flex-direction:row;
}

